@import "reset";

header {
  background-color: #376ba6;
  width: 100%;
  height:30px;
  z-index: 100;
}
html, body {
  height:100%;
  width:100%;
  font-family: 'Muli', sans-serif;
}
.hitting {
  .hittinga {
    border-bottom: 2px solid red;
  }
}
.setting {
  .settinga {
    border-bottom: 2px solid red;
  }
}
.passing {
  .passinga {
    border-bottom: 2px solid red;
  }
}
body {
	padding-top: 30px;
	position: relative;
}
  h1 {
  	margin-bottom:10px; 
  	margin-top: 15px;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 8px;
  }
    h2 {
    padding-left: 5px;
    font-size: 22px;
    text-align: left;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    padding: 8px 10px 8px 13px;
    line-height:1.25em; 
  }

header {
    top:0;
    position: fixed;
    line-height: 1.4em;
    text-align: center;
    .vblife {
      font-weight: bold;
      font-size: 105%;
    }
    a {
    vertical-align: middle;
    margin-left: 10px;
    text-decoration: none;
    color: #E8E3E7;
    border-bottom: 2px solid white;
    padding-top: 10px;
    }
  }
  section.picture {
  	margin:0 auto;
  	height:130%;
  	width:50%;
  	background-size: cover;
  	background-position: center center;
  	z-index: 1;
  }
  .info {
  	display: none;

  }
  .circle {
  	background-color: blue;
  	border-radius: 100%;
  	position: relative;
  	height:10px;
  	width: 10px;
  	border:1px solid blue;
  	-webkit-transition:all 100ms linear;
  }
  .info p {
  	opacity: 1 !important;
  	font-weight: bold;
  }
  .hitting section.picture {
  	background-image: url(vbhitting.jpg);
  }
  .setting section.picture {
  	background-image: url(vbsetting.jpg)
  }
  .passing section.picture {
  	background-image: url(vbpassing.jpg)
  }
  .hitting .armhover {
  	z-index: 20;
  	position: absolute;
  	top:24%;
  	left:45%;
  	height:18%;
  	width: 8%;
/*  	border: 2px solid black;
*/  }
  .hitting .shoulderhover {
  	z-index: 20;
  	position: absolute;
  	top:64%;
  	left:50%;
  	height:18%;
  	width: 10%;
/*  	border: 2px solid black;
*/  }
  .hitting .corehover {
  	z-index: 20;
  	position: absolute;
  	top:100%;
  	left:48%;
  	height:18%;
  	width: 15%;
/*  	border: 2px solid black;
*/  }
  .hitting .picture .info {
  	position: absolute;
  	left:26%;
  	top:35%;
  	height:auto;
  	width: 15%;
/*  	border: 2px solid black;
*/  }
  .hitting .circlearm {
  	top:40%;
  	left:30%;
  }
  .hitting .circleshoulder {
  	top:37%;
  	left:45%;
  }
  .hitting .circlecore {
  	top:40%;
  	left:60%;
  }  
  





  .setting .handshover {
  	z-index: 20;
  	position: absolute;
  	top:22%;
  	left:44%;
  	height:15%;
  	width: 15%;
/*  	border: 2px solid black;
*/  }
  .setting .shouldershover {
  	z-index: 20;
  	position: absolute;
  	top:50%;
  	left:40%;
  	height:13%;
  	width: 16%;
/*  	border: 2px solid black;
*/  }
  .setting .eyeshover {
  	z-index: 20;
  	position: absolute;
  	top:38%;
  	left:40%;
  	height:9%;
  	width: 16%;
/*  	border: 2px solid black;
*/  }
.setting .picture .info {
  	position: absolute;
  	left:26%;
  	top:35%;
  	height:auto;
  	width: 15%;
/*  	border: 2px solid black;
*/  }

  .setting .circlehands {
  	top:20%;
  	left:30%;
  }
  .setting .circleshoulders {
  	top:37%;
  	left:75%;
  }
  .setting .circleeyes {
  	top:40%;
  	left:55%;
  }  






  .passing .wristhover {
  	z-index: 20;
  	position: absolute;
  	top:80%;
  	left:58%;
  	height:15%;
  	width: 10%;
/*  	border: 2px solid black;
*/  }
  .passing .bodyhover {
  	z-index: 20;
  	position: absolute;
  	top:38%;
  	left:40%;
  	height:12%;
  	width: 16%;
/*  	border: 2px solid black;
*/  }
  .passing .kneeshover {
  	z-index: 20;
  	position: absolute;
  	top:88%;
  	left:30%;
  	height:13%;
  	width: 10%;
/*  	border: 2px solid black;
*/  }
  .passing .picture .info {
  	position: absolute;
  	right:26%;
  	top:15%;
  	height:auto;
  	width: 15%;
/*  	border: 2px solid black;
*/  }

  .passing .circlewrist {
  	top:25%;
  	left:38%;
  }
  .passing .circlebody {
  	top:37%;
  	left:30%;
  }
  .passing .circleknees {
  	top:40%;
  	left:55%;
  }  




  .whenhover {
  	height:20px;
  	width: 20px;
  }
  .whenclick {
  	display: inline-block;
  	background-color:white;
  	opacity: 0.5;
  }
  


  @media screen and (max-width:1100px) {
  	.passing .picture .info {
  		right:20%;
  		width:20%;
  	}
	section.picture {
		width:70%;
	}
	.passing .circlewrist {
		left:60%;
	}	  	
	.passing .circlebody {
		left:20%;
	}

  }

  @media screen and (max-width:900px) {
  	.passing .picture .info {
    		right:15%;
    		width:25%;
    	}
  	section.picture {
  		width:75%;
  	}
  	.passing .circlewrist {
  		left:80%;
  	}	  	
  	.passing .circlebody {
  		left:5%;
  	}

    .passing .circleknees {
  	  	left:30%;
    }
    .setting .circlehands {
  		top:45%;
  		left:30%;
    }
  	.setting .circleshoulders {
  	  	top:60%;
  	  	left:75%;
  	  }
  	.setting .circleeyes {
  	  	top:80%;
  	  	left:55%;
  	  }
  	.setting .picture .info {
  		left:15%;
  		width:20%;
  	}  
  }

  @media screen and (max-width:750px) {
  	.passing .picture .info {
  		right:13%;
  		width:30%;
  	}
  	section.picture {
		width:80%;
  	}
  	.passing .wristhover {
  		left:70%;
  		border:1px solid black;
  	}
  	.passing .bodyhover {
  		left:30%;
  		border:1px solid black;
  	}
  	.passing .kneeshover {
  		left:20%;
  		border:1px solid black;
  	}
  	.passing .circlewrist {
  		left:20%;
  	}	  	
  	.passing .circlebody {
  		left:50%;
  	}

    .passing .circleknees {
	  	left:50%;
    }
    .setting .circleshoulders {
      top:60%;
      }
    .setting .eyeshover {
      top:41%;
    }
    .setting .handshover {
      top:26%;
    }
    .setting .picture .info {
      left:15%;
      width:20%;
    }  
  }

  @media screen and (max-width:550px) {
  	.passing .picture .info {
  		right:5%;
  		width:38%;
  	}
  	section.picture {
  		width:100%;
  	}
  	.passing .wristhover {
		left:75%;
		width:13%;
		border:1px solid black;
	}
	.passing .bodyhover {
		left:25%;
		width:19%;
		border:1px solid black;
	}
	.passing .kneeshover {
		left:15%;
		width:14%;
		border:1px solid black;
	}
  .setting .picture .info {
    left:2%;
    width:30%;
    } 
  }

  @media screen and (max-width:350px) {
  	.passing .picture .info {
  		top:140%;
  		width:95%;
  		opacity: 1;
  	}
  	.passing .wristhover {
		left:85%;
		width:14%;
		border:1px solid black;
  	}
  	.passing .bodyhover {
  		left:20%;
  		width:19%;
  		border:1px solid black;
  	}
  	.passing .kneeshover {
  		left:3%;
  		width:14%;
  		border:1px solid black;
  	}
    .setting .picture .info {
      top:140%;
      width: 100%;
      opacity: 1;
    }
  }