@import "reset";

header {
  background-color: #376ba6;
  width: 100%;
  height:30px;
}
html, body {
  height:100%;
  font-family: 'Muli', sans-serif;
}
.hitting {
  .hittinga {
    border-bottom: 2px solid red;
  }
}

header {
    top:0;
    position: fixed;
    line-height: 1.4em;
    text-align: center;
    .vblife {
      font-weight: bold;
      font-size: 105%;
    }
    a {
    vertical-align: middle;
    margin-left: 10px;
    text-decoration: none;
    color: #E8E3E7;
    border-bottom: 2px solid white;
    padding-top: 10px;
    }
  }

  section.picture {
  	height:70%;
  	width:100%;
  	background-image: url(cliparthitting.jpg);
  }